#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

#
# Sets the default CPU frequency in MHz, where n means the frequency in MHz.
#
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240